<!--<button mat-raised-button (click)="openModal()">Apri Modale</button>.-->

<div class="container">
    <h2>Ordina Prodotti</h2>
    
    <!-- Form per selezionare il fornitore -->
    <form [formGroup]="fornitoreForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="nomeFornitore">Seleziona Fornitore:</label>
        <select id="nomeFornitore" class="form-control" formControlName="nomeFornitore" (change)="onFornitoreChange($event)">
          <option *ngFor="let fornitore of fornitori" [value]="fornitore.id_fornitore">{{ fornitore.nome_fornitore }}</option>
        </select>
      </div>
      <!-- Sezione per scegliere i prodotti una volta selezionato il fornitore -->
    
      <div *ngIf="prodottiFornitoreSelezionato.length > 0" class="form-group">
        <label for="products">Scegli Prodotti:</label>
        <div *ngFor="let prodotto of prodottiFornitoreSelezionato" class="form-check mb-2">
          <div class="row align-items-center">
            <div class="col-auto">
              <input class="form-check-input" type="checkbox" [value]="prodotto.id_prodotto" (change)="onProdottoChange($event, prodotto)">
              <label class="form-check-label">
                {{ prodotto.nome_prodotto }}
              </label>
            </div>
            <div *ngIf="isChecked(prodotto)" class="col-auto d-flex align-items-center">
              <label class="form-input-label me-2" for="quantity-{{prodotto.id_prodotto}}">Quantità:</label>
              <input class="form-control form-control-sm d-inline-block me-2" id="quantity-{{prodotto.id_prodotto}}" type="number" style="width: 70px;" [value]="1" [min]="1" (input)="onQuantitaChange($event,prodotto)" >
              <label class="me-2" for="unit-{{prodotto.id_prodotto}}">Unità:</label>
              <select id="unit-{{prodotto.id_prodotto}}" class="form-select form-select-sm" style="width: auto;">
                <option value="pezzi">pezzi</option>
                <option value="scatole">scatole</option>
                <option value="confezioni">confezioni</option>
                <option value="metri">metri</option>
                <option value="litri">litri</option>
                <option value="kg">kg</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      
      
      
  
      <!-- Bottone per inviare il form -->
    <button type="submit" class="btn btn-primary" [disabled]="!fornitoreForm.valid || ordineForm.prodottiQuantita.length < 1 ">Ordina</button>
    </form>

  </div>