<!--da aggiungere un (click) ad ogni div che ridirezioni ad il componente relativo (DA CREARE)-->
<div class="container mt-5">
    <div class="row">
      <div class="col-md-6 mb-4">
        <div class="card" mat-button (click)="gotoFornitori()">
          <div class="card-body">
            <h5 class="card-title">Fornitori</h5>
            <p class="card-text">Modifica/Aggiungi fornitori</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-4">
        <div class="card" (click)="gotoProdotti()">
          <div class="card-body">
            <h5 class="card-title">Prodotti</h5>
            <p class="card-text">Modifica/Aggiungi Prodotti</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body" (click)="gotoCreaOrdine()">
            <h5 class="card-title">Ordine</h5>
            <p class="card-text">Crea un nuovo Ordine</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-body" (click)="gotoStorico()">
            <h5 class="card-title">Storico</h5>
            <p class="card-text">Vedi Ordini già effettuati</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
