<div class="container mt-5">
  <table class="table table-striped table-hover table-bordered">
    <thead class="thead-dark">
      <tr>
        <th *ngFor="let column of columns">{{ column }}</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of tableData; let i = index">
        <td *ngFor="let column of columns">{{ row.data[column] }}</td>
        <td>
          <button mat-button [matMenuTriggerFor]="menu">Menu</button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item *ngFor="let action of actions" (click)="action.action(row)">{{action.label}}</button>
          </mat-menu>
          
        </td>
      </tr>
    </tbody>
  </table>
</div>
